body {
    font-family: 'Lato', sans-serif;
    letter-spacing: .2px;
    line-height: 1.3rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 30px 0px;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.totals, th, tfoot {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8ab6881;
}

table {
    margin: 30px auto;
    text-align: center;
}

td,
th {
    padding: 5px;
}

#form {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

form {
    margin: 30px auto;
    width: 260px;
}

#sales-title {
    text-align: center;
    background-color:#f8ab688a;
    padding: 30px 0;
    margin-top: 0;
}